#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 392px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: $col_white;
  }

  input {
    width: 214px;
  }

  .btn-rounded {
    margin: 1rem 1rem 0 0;
    align-self: flex-end;
    background-color: $col_main;

    svg {
      width: 20px;
      height: 20px;
      fill: $col_white;
    }
  }
}