#login {
  @include flex(column, center, center);
  width: 100%;
  height: calc(100vh - #{$dim_header});

  .login-form {

    @include flex(column, center, center);
    width: 380px;
    height: 392px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $col_white;
  }

  input {
    width: 214px;
  }

  .btn-rounded {
    margin: 1rem 1rem 0 0;
    align-self: flex-end;
    background-color: $col_main;

    svg {
      fill: $col_white;
    }
  }
}